body{
    background-color: #f5f5f5;
    margin: 40px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
h1{
    color: #3a3a3a;
    font-size: 54px;

}
.header-name{
    color: #3a3a3a;
    font-size: 20px;
    margin: 30px 0;
    margin-left: 300px;
    max-width: 1032px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
.header-name span{

    color: #2eca7f;
    font-size: 20px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
.profile-card{
    height: 560px;
    width: 1024px;
    margin: auto;
    border-radius: 10px;
    left: 300px;
}
.profile-card .card-header{
    background-color: #2eca7f;
    border-radius: 10px 10px 0 0 ;
    padding: 40px 30px;
    height: 200px;
    margin-left: 1px;
    z-index: 1;
}
.profile-card .card-header h2{
    color: white;
    font-size: 54px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    z-index: 1;
}
.profile-card .card-header p{
    color: white;
    font-size: 20px;
    margin: -20px 150px 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
    z-index: 1;
}
.shadow{
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.2);
}
.padding{
    padding: 20px;
}
.clear{
    clear: both;
}
.col-left{
    float: left;
    width: 50%;
    z-index: 1;
}
.col-right{
    float: left;
    width: 50%;
    z-index: 1;
}
.img-wrapper {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    border-color: white;
    border-width: 5px;
    border-style: solid;

}
.img-wrapper img{
    width: 100%;
    height: 100%;
}
.overlay{
    background: url('./img/main_bg.png') 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.title{
    display: inline-block;
    min-width: 120px;
}
.info{
    list-style: none;
    margin: 0px;
}
.info li{
    margin: 6px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
.card-body .col-left{
    margin: 10px 0 25px;
}
.card-body .col-left strong{
    font-size: 20px;
    font-family: monospace;
}
.card-body .col-left span{
    color: #2eca7f;
    font-family: 'Montserrat', Helvetica, sans-serif
}
.card-body .col-left p{
    margin: 20px 0;
    font-weight: 400;
    font-family: 'Montserrat', Helvetica, sans-serif
}
.card-body .col-right{
    margin-top: 10px;
}
.div{
    display: block;
}
.ccontainer{
    background-color: #f5f5f5;
    height: 300px;
    width: 650px;
    padding: 16px;
    opacity: 1;
    margin: 10px;
    position: relative;
}
.button{
left: 47px;
top: 10px;
}
.CloseButton{
    position: inherit;
    left: 150px;
}
#name{
    margin:10px 0;
}
#email{
    margin:10px 0;
}
#message{
    margin:10px 0;
    height: 100px;
    width: 650px;
}
